.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.large-input {
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px; /* インプットボックスの間隔を広げる */
    display: block;
    width: 30vw; /* 画面幅の30% */
    max-width: 300px; /* 最大幅を設定 */
    box-sizing: border-box;
}

.large-button {
    width: 30vw; /* 画面幅の30% */
    max-width: 300px; /* 最大幅を設定 */
    height: 50px; /* ボタンの高さを大きくする */
    font-size: 18px; /* ボタンのフォントサイズを大きくする */
    margin-top: 20px; /* ボタンの間隔を広げる */
}

.bottom-text {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}
