<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>時間計算</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
</head>
<body>
    <div class="body-content">
        <h1>時間計算</h1>
        <form method="POST">
            <div class="form-group">
                <label for="time1" class="form-label">累積時間:[hhmm]</label>
                <input type="text" id="time1" name="time1" class="large-input" required>
            </div>
            <div class="form-group">
                <label for="time2" class="form-label">時　　間:[hhmm]</label>
                <input type="text" id="time2" name="time2" class="large-input" required>
            </div>
            <button type="submit" class="large-button">計算Go！</button>
        </form>
        {% if total_time is not none %}
            <h2>合計時間: {{ total_time }}</h2>
        {% endif %}
    </div>
    <div class="bottom-text">
        ”楽Tech!"
    </div>
</body>
</html>